*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'HarryP';
  src: url('HARRYP__.TTF') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background-color: #00001b;
  font-family: 'MedievalSharp', cursive;
  min-width: 200px;
  max-width: 2000px;
  min-height: 200px;
  max-height: 2000px;
  overflow: scroll;
  letter-spacing: 1px;
}

header {
  color: silver;
  background-color: #00001b;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gold;
}

h1 {
  font-family: 'HarryP', serif;
  margin: 0;
}

#logo {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

#hogwarts {
  color: silver;
  text-align: center;
  background-color: #00001b;


}

#hogwarts .hp_welcome p{
  background-color: #00001b;
  font-size: large;
  font-family: cursive;
  float: left;
  margin: 0;
  padding: 40px;
  z-index: 1;
  
}

footer {
  background-color: #00001b;
  color: aliceblue;
  border-top: 1px solid gold;
  height: 100px;
  padding: 40px;
}

header h3 {
  float: right;
  color: #00001b;
  margin-left: 1px;
  margin-top: 0;
  margin-right: 10px;
  border: 1px solid silver;
  background-color: silver;
  padding: 2px;
}

header h1{
  text-align: center;
}

.image{
  margin-left: 100px;
  
  
}
h3:hover{
  background-color: maroon;
}
